*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection{
    background-color: darkgrey;
    color: white;
}

.logo{
    font-size: 30px;
    font-weight: bold;
}

.my-4{
    color: white;
}

.jumbotron, .navbar, img, .brd{
    border-radius: 5px;
}
/* cards */
#sticky-cards {
    z-index: 5;
}
/* cards */


div table th,tr td{
    border-bottom: solid 1px gray;
    padding: 10px;
}

footer{
    background-color: gray;
    border-radius: 5px;
}


#btn-less , #btn-more{
    width: fit-content;
}
/* display none the elements in title of */
.title-of #first , #second , #end, #btn-less{
    display: none;
}

/* Back to top Button */
#back-top {
    cursor: pointer;
    color: gray;
    background-color: #181818;
    outline: none;
    border: none;
    min-width: 50px;
    border-radius: 3px;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: 0.3s;
    z-index: 10;
    display: none;
}
#back-top:hover {
    background-color: gray;
    color: white;
}
/* Back to top Button */